*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.title{
    font-size: 30px;
}
ul{
    position: relative;
    left: 30px;
}
.reload{
    padding: 10px;
    margin-top: 10px;
    outline: none;
    border: none;
    background: #666;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.hide{
    display: none;
}

.ss:hover{
    scale: 1.1s;
    letter-spacing: 15px;
    text-decoration-line:overline;
}